html {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 900px;
}

.gamename {
  align-self: center;
  justify-self: flex-start;
  text-decoration: line-through;
}

#gamepage {
  align-self: center;
  justify-self: center;
  color: white;
}

#gamepage:hover {
  color: rgb(0, 18, 117);
}

.titleinfo {
  align-self: center;
  text-align: center;
  border: solid white;
  width: 700px;
  height: 450px;
  margin-top: 80px;
}

.titleinfo:hover {
  color:pink;
  border-color: pink;
}

.gameresult {
  align-self: center;
  text-align: center;
  border: solid white;
  width: 700px;
  height: 200px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
}

.gameresult:hover {
  color: pink;
  border-color:pink;
}

.tagline {
  font-size: 30px;
}

form {
  margin-top: 100px;
}

#word {
  color: black;
  background-color: white;
  text-decoration:underline;
}

#word:hover {
  color: pink;
  border-color: pink;
}

#guessbutton {
  height: 40px;
  width: 100px;
  margin-top: 10px;
  background-color: black;
  color: white;
  border: 2px solid white;
  font-family: "Courier New", Courier, monospace;
}

#guessbutton:hover {
  color: pink;
  border-color: pink;
}


